<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.WebClientId"
            android:value="19173466087-8gi7l5v4fh6a660uf2oru44bqc1ho71r.apps.googleusercontent.com"/>
    </application>
</manifest>


